@import "core/styles/head";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $h-footer;
  font-size: $h5;
  font-weight: $b;
  box-sizing: border-box;
  margin: 0 $g-s;
  padding: 0 $g-xxs 3px $g-xxs;
  border-top: solid 1px $c-divider;
  @include no-select;

  a {
    @include link-light;
  }
}

// Responsive

@media only screen and (min-width: 720px) {
  .footer {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    margin: 0 13%;
  }
}

@media only screen and (min-width: 1600px) {
  .footer {
    margin: 0 21%;
  }
}
