@import "core/styles/head";

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.radio {
  padding: $g-l 0;
  text-align: center;
}

.switch {
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $c-content;
    border: solid 1px $c-divider;
    border-radius: $r-100;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    background: $c-dark;
  }
}

.hidden {
  display: none;
}

.page {
  height: 100%;
}
