@import "core/styles/head";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.withGithub,
.withTwitter {
  $icon-width: 22px;

  color: $c-light !important;
  padding: $g-s $icon-width $g-s ($icon-width * 2.5);
  margin-bottom: $g-s;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    background: $c-main-sub !important;
  }

  .icon {
    position: absolute;
    left: $icon-width;
    width: $icon-width;
    height: $icon-width;
  }
}

.withGithub {
  background: #24292e !important;
}

.withTwitter {
  background: #1da1f2 !important;
}

// Responsive

@media only screen and (min-width: 720px) {
  .container {
    display: unset;
    flex-direction: unset;
    align-items: unset;
  }

  .withGithub,
  .withTwitter {
    margin-bottom: unset;
    margin-right: $g-s;

    &:last-of-type {
      margin-bottom: unset;
      margin-right: 0;
    }
  }
}
