@import "core/styles/head";

.hidden {
  display: none;
}

.webFrame {
  position: relative;
  height: 100%;
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 4.5rem;
  height: 4.5rem;
  fill: $c-main;
}

.content {
  position: relative;
  height: 100%;
}
