@import "core/styles/head";

.landing {
  padding: 0 $g-s;
}

.section {
  $margin: $g-l;

  margin-bottom: $margin;

  &.first {
    margin-top: $margin;
  }
}

// Responsive

@media only screen and (min-width: 1280px) {
  .landing {
    padding: 0 10%;
  }
}

@media only screen and (min-width: 1600px) {
  .landing {
    padding: 0 20%;
  }
}
