@import "core/styles/head";

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  z-index: 1000;
}

.switch {
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $c-divider;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    background: $c-dark;
  }
}
