@import "core/styles/head";

.container {
  padding: 0 $g-m;
  padding-top: 40vh;
  padding-top: calc(var(--vh, 1vh) * 40);
  @include no-select;
}

.inner {
  text-align: center;
}

.innerText {
  font-size: $h2;
  font-weight: $b;
  line-height: $h2 + 1rem;
  margin-bottom: $g-l;
}

.innerLoading {
  width: 5rem;
  fill: $c-main;
}
