@import "core/styles/head";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: $c-light;
  color: $c-dark;
  overflow: hidden;
}

// Header

.header {
  position: relative;
  display: flex;
  align-items: center;
  color: $c-light;
  padding: $g-m $g-s;
  box-shadow: $s-button;
  overflow: hidden;
  @include no-select;

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: blur(20px);
  }

  .shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($c-dark, 0.7);
  }

  .info {
    flex: 1;
    position: relative;
  }
}

.label {
  font-size: $h2;
  font-weight: $b;
}

.numberContainer {
  margin-top: $g-xxs;
  display: inline-flex;
  align-items: center;

  .number {
    display: flex;
    align-items: center;
    margin-right: $g-xs;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: $g-xxs;
  }

  span {
    font-size: $h4;
  }
}

.actions {
  display: none;
  align-items: stretch;
  height: 40px;

  .buttonAdd {
    width: 10rem;
    font-size: $h5;
    margin-right: $g-xs;
  }

  .buttonStar {
    width: 5rem;

    .icon {
      width: $h5;
      height: $h5;
      stroke-width: 3px;
    }
  }
}

// Content

.content {
  flex: 1;
  box-sizing: border-box;
  padding: $g-m $g-s;
  overflow-y: auto;
  @include sb-light;
}

.seeComments {
  text-align: center;
  margin-bottom: $g-m;
  @include no-select;

  button {
    display: inline-flex;
    align-items: center;
    background: $c-light-alt;
    padding: $g-xxs $g-s $g-xxs ($g-s + $g-xs);
    border: solid 1px $c-dark;
    border-radius: $r-100;
    box-shadow: $s-divider;
    transition: background $de, color $de;

    &:hover {
      background: $c-dark;
      color: $c-light;
    }

    span {
      font-weight: $b;
      margin-right: $g-xxs;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

.section {
  margin-bottom: $g-m;

  &:last-of-type {
    margin-bottom: 0;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: $g-s;
    @include no-select;

    span {
      font-size: $h3;
      font-weight: $b;
    }

    button {
      margin-left: $g-xs;
      background: $c-light-alt;
      font-weight: $b;
      padding: $g-xxs $g-s;
      border: solid 1px $c-dark;
      border-radius: $r-100;
      box-shadow: $s-divider;
      transition: background $de, color $de;

      &:hover {
        background: $c-dark;
        color: $c-light;
      }
    }
  }

  span {
    font-size: $h4;
  }
}

// Preview

.previewContainer {
  position: relative;
  width: 100%;
  height: 480px;
  border-radius: $r;
  box-shadow: $s-divider;
  overflow: hidden;

  iframe {
    position: relative;
    width: 100%;
    height: 100%;
    @include no-select;
    @include no-touch;
  }
}

// Comments

.comment {
  background: $c-light-alt;
  padding: $g-s;
  border-radius: $r;
  box-shadow: $s-divider;
  margin-bottom: $g-s;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.commentHeader {
  display: flex;
  align-items: center;
  @include no-select;

  .photo {
    width: 3.25rem;
    height: 3.25rem;
    cursor: pointer;
    margin-right: $g-xs;

    &:hover {
      img {
        border-color: $c-main;
      }
    }

    img {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: solid 3px $c-light;
      border-radius: $r-100;
      transition: border-color $de;
    }
  }

  .name {
    font-size: $h4;

    .link {
      font-weight: $b;
      @include link-dark;
    }
  }
}

.commentBody {
  margin-top: $g-s;
  background: rgba($c-dark, 0.05);
  font-size: $h4;
  padding: $g-s;
  border-radius: $r;
}

.commentTime {
  margin-top: $g-s;
}

// Leave a Comment

.leaveComment {
  padding: $g-m $g-s;

  .success {
    font-size: $h4;
    font-weight: $b;
    text-align: center;
  }

  form {
    display: flex;
    align-items: stretch;
    height: 4rem;
  }

  input {
    flex: 1;
    background: $c-light-alt;
    font-size: $h4;
    font-weight: $b;
    padding: 0 ($g-s + $g-xxs);
    border-radius: $r-100;
    box-shadow: $s-divider;
  }

  button {
    margin-left: $g-s;
    width: 9rem;
    background: $c-light-alt;
    font-weight: $b;
    padding: $g-xxs 0;
    box-sizing: border-box;
    border: solid 1px $c-dark;
    border-radius: $r-100;
    box-shadow: $s-divider;
    transition: background $de, color $de;

    &:hover {
      background: $c-dark;
      color: $c-light;
    }
  }
}

// Mobile Actions

.mobileActions {
  display: flex;
  align-items: stretch;
  height: 50px;
}

.mobileActionsButton {
  border-radius: 0;

  &.add {
    flex: 2;
  }

  &.star {
    flex: 1;
    border-left: none;
    border-right: none;
  }

  &.close {
    flex: 2;
  }

  svg {
    width: $h5;
    height: $h5;
    stroke-width: 3px;
  }
}

// Responsive

@media only screen and (min-width: 1024px) {
  .container {
    width: 65vw;
    height: 75vh;
    height: calc(var(--vh, 1vh) * 75);
    border-radius: $r;
  }

  .header {
    padding: $g-m;
  }

  .content {
    padding: $g-m;
  }

  .leaveComment {
    padding: $g-m;
  }

  .actions {
    display: flex;
  }

  .mobileActions {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    width: 45vw;
  }
}
