@import "core/styles/head";

.section {
  margin-bottom: $g-xxl;
}

.title {
  font-size: $h1;
  font-weight: $b;
  margin-bottom: $g-xl;
}

.grid {
  $column-num: 3;
  $column-gap: 3%;
  $column-width: (100% / $column-num) - $column-gap;

  display: grid;
  grid-template-columns: repeat($column-num, $column-width);
  column-gap: $column-gap;
  row-gap: $g-l;
  @include no-select;
}

.gridItem {
  display: flex;
  align-items: center;
  background: $c-content;
  padding: $g-s;
  border-radius: $r;
  overflow: hidden;

  .cover {
    width: 100px;
    height: 100px;
    border-radius: $r;
    object-position: left;
    object-fit: cover;
    box-sizing: border-box;
    border: solid 3px $c-divider;
    transition: border-color $de;
    margin-right: $g-m;

    &:hover {
      border-color: $c-main;
    }
  }
}

.gridItemInfo {
  .label {
    font-size: $h4;
    font-weight: $b;
  }

  .desc {
    margin-top: $g-xxs;
    margin-bottom: $g-s;
  }

  button {
    background: $c-main;
    color: $c-dark;
    font-weight: $b;
    padding: $g-xxs $g-s;
    border-radius: $r-100;
    margin-right: $g-xs;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
