@import "core/styles/head";

.section {
  margin-bottom: $g-xxl;
}

.title {
  font-size: $h1;
  font-weight: $b;
  margin-bottom: $g-xl;
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: $g-l;
  @include no-select;
}
