@import "core/styles/head";

.pageTitle {
  font-size: $h1;
  font-weight: $b;
  text-align: center;
  margin-bottom: $g-xl;
}

.section {
  margin-bottom: $g-xl;
}

.title {
  font-size: $h2;
  font-weight: $b;
  margin-bottom: $g-l;
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  gap: $g-l;
  @include no-select;
}

// Responsive

@media only screen and (min-width: 720px) {
  .pageTitle {
    text-align: unset;
  }
}

@media only screen and (min-width: 1280px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
