@import "core/styles/head";

.container {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.label,
.options {
  display: flex;
  align-items: center;
  background: $c-content;
  font-weight: $b;
  padding: 0 $g-m;
  box-sizing: border-box;
  border: solid 1px $c-divider;
  border-radius: $r-100;
}

.options {
  margin-left: $g-xxs;
  padding: $g-xs;
  border-radius: 100%;
  transition: background $de;
  cursor: pointer;

  &:hover {
    background: $c-warn;
  }

  .icon {
    width: 1.2rem;
    stroke-width: 3px;
  }
}
