@import "core/styles/head";

.container {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.label,
.options {
  display: flex;
  align-items: center;
  background: $c-content;
  font-weight: $b;
  padding: 0 $g-s;
  box-sizing: border-box;
  border: solid 1px $c-divider;
  border-radius: $r-100;
}

.label span {
  width: 40px;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.options {
  margin-left: $g-xxs;
  padding: $g-xs;
  border-radius: 100%;
  transition: background $de;
  cursor: pointer;

  &:hover {
    background: $c-warn;
  }

  .icon {
    width: 1.2rem;
    stroke-width: 3px;
  }
}

// Responsive

@media only screen and (min-width: 360px) {
  .label span {
    width: 70px;
  }
}

@media only screen and (min-width: 1024px) {
  .label span {
    width: 90px;
  }
}
