@import "core/styles/head";

.container {
  display: flex;
  width: 100%;
  height: 45px;
  background: $c-content;
  border-bottom: solid 1px $c-divider;
  @include no-select;
}

.borderNone {
  border-bottom: none;
}

.innerDeck {
  width: 80px;
}

.innerTabs {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.tab {
  @keyframes tabIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 0 $g-m 0 $g-s;
  animation: tabIn $de;
  cursor: pointer;

  span {
    font-weight: $b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tabCloseIcon {
  position: absolute;
  right: 0;
  width: 1.15rem;
  height: 1.15rem;
  padding: 0 $g-xs 0 0;
}

.tabDeck {
  width: 100%;
  padding: 0 $g-s;
  justify-content: center;
  animation: none;
}

.tabActive {
  background: $c-main;
  color: $c-dark;
}
