@import "core/styles/head";

.tabContainer {
  background: $c-content;
  border-bottom: solid 1px $c-divider;
}

.tab {
  display: inline-block;
  padding: $g-s $g-m;
  font-weight: $b;
  transition: background $d, color $d;
  cursor: pointer;
}

.tabActive {
  background: $c-main;
  color: $c-dark;
}
