@import "core/styles/head";

.tabContainer {
  background: $c-content;
  border-bottom: solid 1px $c-divider;
  @include no-select;
}

.borderNone {
  border-bottom: none;
}

.tab {
  display: inline-block;
  padding: $g-s $g-m;
  font-weight: $b;
  transition: background $de, color $de;
  cursor: pointer;
}

.tabActive {
  background: $c-main;
  color: $c-dark;
}
