@import "core/styles/head";

$card-width: 200px;

.deck {
  margin-bottom: $g-xl;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $g-xl;
}

.headerTitle {
  font-size: 4rem;
  font-weight: $b;
}

.headerProfile {
  cursor: pointer;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: $r-100;
    border: solid 1px $c-divider;
  }
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
  grid-gap: $g-xl;
  @include no-select;
}

.gridItemContainer {
  position: relative;
}

.gridItemShadow {
  position: absolute;
  top: $card-width / 2;
  left: 50%;
  box-shadow: 0 0 120px 40px $c-light;
}

.gridItemCard {
  width: 100%;
  height: $card-width;
}

.gridItemPlate {
  margin-top: $g-m;
  position: relative;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include no-select;
}

.emptyImg {
  width: 300px;
  height: 300px;
  margin-bottom: $g-m;
}

.emptyText,
.emptyTextHightlight {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: $t;
}

.emptyTextHightlight {
  margin-top: $g-m;

  a {
    display: flex;
    align-items: center;
    color: $c-main;
    font-weight: $b;
  }
}

.emptyTextHightlightIcon {
  margin-left: $g-xs;
  width: 1.75rem;
  height: 1.75rem;
  stroke-width: 3px;
}
