@import "core/styles/head";

$card-width: 200px;

.section {
  margin-bottom: $g-xl;
}

.sectionTitle {
  font-size: 4rem;
  font-weight: $b;
  margin-bottom: $g-xl;
}

.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
  grid-gap: $g-xl;
  @include no-select;
}

.gridItemContainer {
  position: relative;
}

.gridItemShadow {
  position: absolute;
  top: $card-width / 2;
  left: 50%;
  box-shadow: 0 0 120px 40px $c-light;
}

.gridItemCard {
  width: 100%;
  height: $card-width;
}

.gridItemPlate {
  margin-top: $g-m;
  position: relative;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include no-select;
}

.emptyImg {
  width: 350px;
  height: 350px;
  margin-bottom: $g-m;
}

.emptyText,
.emptyTextHightlight {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 100;
}

.emptyTextHightlight {
  margin-top: $g-m;

  a {
    display: flex;
    align-items: center;
    color: $c-main;
    font-weight: $b;
  }
}

.emptyTextHightlightIcon {
  margin-left: $g-xs;
  width: 1.75rem;
  height: 1.75rem;
  stroke-width: 3px;
}
