@import "core/styles/head";

.deck {
  margin-bottom: $g-l;
}

// Filter

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $g-m;
  @include no-select;
}

.filterLabel,
.filterNum {
  font-size: $h4;
  font-weight: $b;
}

.filterLabel {
  margin-right: $g-s;
}

.filterDD {
  width: 180px;
}

.filterNum {
  display: none;
  flex: 1;
  text-align: right;
}

// Grid Item

.gridItemCard {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: solid 2px $c-divider;
  transition: border-color $de;

  &:hover {
    border-color: $c-main;
  }
}

.gridItemPlate {
  margin-top: $g-m;
  position: relative;
}

// Responsive

@media only screen and (min-width: 720px) {
  .filter {
    justify-content: unset;
    margin-bottom: $g-l;
  }

  .filterNum {
    display: unset;
  }
}
