@import "core/styles/head";
@import "core/styles/animation";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $c-content;
  padding: $g-l $g-m;
  border-radius: $r;
  @include no-select;
}

.title {
  font-size: $h2;
  font-weight: $b;
  text-align: center;
  @include a-breathe;

  .highlight {
    background-image: linear-gradient(45deg, $c-main 30%, $c-main-sub 100%);
    background-clip: text;
    color: transparent;
  }
}

.divider {
  width: 120px;
  height: 1px;
  background: $c-divider;
  margin: $g-m 0;
}

.loginButtons {
  text-align: center;
}

.info {
  margin-top: $g-l;
  font-size: $h4;
  font-weight: $t;
  padding: 0 $g-m;
  text-align: center;

  .highlight {
    font-weight: $b;
  }
}
