@import "core/styles/head";

.promote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $g-l;
  @include no-select;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $c-content;
  padding: $g-m 0;
  border-radius: $r;
  box-shadow: $s-button;
  overflow: hidden;

  img {
    width: 350px;
    height: 350px;
    border-radius: $r;
    box-shadow: 0 10px 50px 10px $c-dark;
  }

  .title {
    margin-top: $g-m;
    font-size: $h2;
    font-weight: $b;
    background-image: linear-gradient(45deg, $c-main 30%, $c-main-sub 100%);
    background-clip: text;
    color: transparent;
  }
}
