@import "core/styles/head";

.promote {
  display: grid;
  grid-template-columns: 1fr;
  gap: $g-l;
  @include no-select;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $c-content;
  padding: $g-m 0;
  border-radius: $r;
  overflow: hidden;

  img {
    width: 220px;
    height: 220px;
    border-radius: $r;
    box-shadow: 0 10px 50px 10px $c-dark;
  }

  .title {
    margin-top: $g-l;
    font-size: $h3;
    font-weight: $b;
    color: $c-light;
    padding: 0 $g-m;
    text-align: center;
  }
}

// Responsive

@media only screen and (min-width: 360px) {
  .section {
    img {
      width: 260px;
      height: 260px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .promote {
    grid-template-columns: 1fr 1fr;
  }

  .section {
    img {
      width: 300px;
      height: 300px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    img {
      width: 350px;
      height: 350px;
    }
  }
}
