@import "core/styles/head";

.promote {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include no-select;
}

.section {
  margin-bottom: $g-xxl;

  &:last-of-type {
    margin-bottom: 0;
  }

  img {
    width: 384px;
    height: 384px;
    object-position: top;
    object-fit: cover;
    border-radius: $r;
  }

  .text {
    margin-top: $g-m;
    text-align: center;

    span {
      font-size: $h2;
      font-weight: $b;
      background-image: linear-gradient(45deg, $c-main 30%, $c-main-sub 100%);
      background-clip: text;
      color: transparent;
    }
  }
}
