@import "core/styles/head";

.card {
  width: 100%;
  height: 200px;
  background: #666;
  border-radius: $r;
  box-shadow: $s-card;
  cursor: pointer;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
