@import "core/styles/head";

.card {
  background: $c-content;
  border-radius: $r;
  backdrop-filter: blur(0);
  overflow: hidden;
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
}

.innerExternal {
  position: absolute;
  top: $g-xxs;
  right: $g-xxs;
  background: rgba($c-dark, 0.4);
  backdrop-filter: blur(10px);
  padding: $g-xs;
  border-radius: 100%;
}

.innerExternalIcon {
  width: 2rem;
  height: 1.75rem;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
