@import "core/styles/head";

.card {
  border-radius: $r;
  overflow: hidden;
  cursor: pointer;
}

.inner {
  width: 100%;
  height: 100%;
}

.cover {
  width: 100%;
  height: 100%;
  object-position: left;
  object-fit: cover;
}
