@import "core/styles/head";
@import "core/styles/animation";

.list {
  margin-bottom: $g-l;
}

.listItem {
  $initial-scale: 0.75;

  @keyframes itemIn {
    from {
      opacity: 0;
      transform: scale($initial-scale);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  opacity: 0;
  transform: scale($initial-scale);
  background: $c-content;
  box-sizing: border-box;
  padding: $g-s;
  border-radius: $r;
  animation: itemIn $d-s $e-io forwards;
  overflow: hidden;
  margin-bottom: $g-m;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.listItemHeader {
  display: flex;
  align-items: center;
  @include no-select;

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    box-sizing: border-box;
    border: solid 2px $c-divider;
    border-radius: $r-100;
    transition: border-color $de;
    overflow: hidden;
    cursor: pointer;
    margin-right: $g-xs;

    &:hover {
      border-color: $c-main;
    }

    svg {
      position: relative;
      width: 45%;
      height: 45%;
    }

    img {
      width: 100%;
      height: 100%;
      @include a-fadeIn;
    }
  }

  .event {
    flex: 1;
    font-size: $h4;
    line-height: 1.6rem;
  }

  .link {
    font-weight: $b;
    @include link-light;
  }
}

.listItemBody {
  margin-top: $g-s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba($c-light, 0.05);
  padding: $g-s;
  border-radius: $r;

  .text {
    font-size: $h4;
  }

  .cover {
    display: none;
    width: 6.5rem;
    height: 6.5rem;
  }
}

.listItemTime {
  margin-top: $g-s;
  @include no-select;
}

// Responsive

@media only screen and (min-width: 768px) {
  .listItemBody {
    .cover {
      display: block;
    }
  }
}
