@import "core/styles/head";

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $c-main;
  color: $c-dark;
  font-weight: $b;
  border: solid 1px $c-divider;
  border-radius: $r-100;
  transition: background $de, color $de;
  overflow: hidden;
  @include no-select;

  &:disabled {
    cursor: not-allowed;
  }
}

.button:hover,
.button:disabled,
.shade {
  background: $c-content;
  color: $c-main;
}

.shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  @include no-touch;

  &.active {
    opacity: 1;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .loaderIcon {
    width: 25%;
    fill: $c-light;
  }
}
