@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes breathe {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.075);
  }
}

// Mixins

@mixin a-fadeIn {
  animation: fadeIn $de;
}

@mixin a-fadeOut {
  animation: fadeOut $de;
}

@mixin a-scaleIn {
  animation: scaleIn $de;
}

@mixin a-scaleOut {
  animation: scaleOut $de;
}

@mixin a-spin {
  animation: spin 1.2s $e-l infinite;
}

@mixin a-breathe {
  animation: breathe 0.8s $e-i infinite alternate;
}
