@import "./head";
@import "./reset";

html {
  font-family: $f;
  font-size: 12px;
  letter-spacing: 0.01em;
}

body {
  background: $c-dark;
  color: $c-light;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $c-content;
    border: solid 1px $c-divider;
    border-radius: $r-100;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    background: $c-dark;
  }
}
