// Text

$f: "Roboto", sans-serif;
$b: 700;

// Color

$c-main: #f5cb5c;
$c-content: #252525;
$c-divider: #353535;
$c-dark: #151515;
$c-light: #f5f5f5;
$c-warn: #d83934;

// Space

$g-xxs: 5px;
$g-xs: 10px;
$g-s: 15px;
$g-m: 30px;
$g-l: 45px;
$g-xl: 60px;
$g-xxl: 100px;

// Height

$h-input: 40px;

// Radius

$r: 1rem;
$r-100: 100rem;

// Shadow

$s-card: 0 10px 30px rgba(255, 255, 255, 0.1);

// Easing

$eio: ease-in-out;
$ei: ease-in;
$eo: ease-out;
$el: linear;

// Duration

$d-xs: 0.2s;
$d-s: 0.3s;
$d: 0.4s;
$d-l: 0.6s;
$d-xl: 0.8s;

$de: $d $eo;

// Mixins

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
