@import "core/styles/head";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  font-size: $h4;
  font-weight: $b;
  box-sizing: border-box;
  padding: 0 $g-xxs 3px $g-xxs;
  border-top: solid 1px $c-divider;
  @include no-select;

  a {
    @include link-light;
  }
}
