@import "core/styles/head";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  font-size: $h4;
  font-weight: $b;
  box-sizing: border-box;
  padding: 0 $g-xxs $g-xxs $g-xxs;
  border-top: solid 1px $c-divider;
  @include no-select;

  a {
    box-sizing: border-box;
    border-bottom: solid 1px transparent;
    transition: border-color $de;

    &:hover {
      border-color: $c-light;
    }
  }
}
