@import "core/styles/head";
@import "core/styles/animation";

.item {
  $initial-scale: 0.75;

  @keyframes itemIn {
    from {
      opacity: 0;
      transform: scale($initial-scale);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  opacity: 0;
  transform: scale($initial-scale);
  display: flex;
  align-items: center;
  background: $c-content;
  box-sizing: border-box;
  padding: $g-s;
  border-radius: $r;
  box-shadow: $s-button;
  animation: itemIn $d-s $e-io forwards;
}

.cover {
  width: 8.2rem;
  height: 8.2rem;
  border-radius: $r;
  object-position: left;
  object-fit: cover;
  box-sizing: border-box;
  border: solid 2px $c-divider;
  transition: border-color $de;
  margin-right: $g-s * 1.5;

  &:hover {
    border-color: $c-main;
  }
}

.info {
  flex: 1;

  .new {
    position: absolute;
    top: $g-xs;
    right: $g-xs;
    width: 3.25rem;
    background: $c-warn;
    font-size: $h6;
    font-weight: $b;
    text-align: center;
    padding: $g-xxs 0;
    border-radius: $r;
  }

  .label {
    font-size: $h4;
    font-weight: $b;
  }

  .desc {
    margin-top: $g-xxs;
  }

  .promote {
    margin-top: $g-xxs;

    .bold {
      font-weight: $b;
    }
  }

  .actions {
    margin-top: $g-s;

    .button {
      width: 5.5rem;
      padding: $g-xxs 0;
      margin-right: $g-xxs;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
