@import "core/styles/head";

.container {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.inner {
  @keyframes innerIn {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  position: relative;
  background: $c-light;
  color: $c-dark;
  text-align: center;
  margin: $g-m;
  padding: $g-m;
  border-radius: $r;
  box-shadow: $s-card;
  animation: innerIn $d-l $e-io;
  @include no-select;
}

.text,
.desc {
  font-size: $h4;
  line-height: 2rem;
}

.text {
  font-weight: $b;
}

.desc {
  margin-bottom: $g-m;
}

.actions {
  display: flex;
  flex-direction: column;

  .button,
  .hide {
    padding: $g-xs $g-m;
    box-shadow: $s-button;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: $g-xs;
    }
  }

  .hide {
    margin-top: $g-s;
    font-weight: $b;
    border: solid 1px $c-dark;
    border-radius: $r-100;
    transition: background $de, color $de;

    &:hover {
      background: $c-dark;
      color: $c-main;
    }
  }
}

// Responsive

@media all and (display-mode: standalone) {
  .container {
    display: none;
  }
}

@media only screen and (min-width: 720px) {
  .actions {
    flex-direction: row;
    justify-content: center;

    .hide {
      margin-top: unset;
      margin-left: $g-xs;
    }
  }
}
