@import "core/styles/head";

.container {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.inner {
  @keyframes innerIn {
    from {
      opacity: 0;
      transform: translateY(75%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  position: relative;
  background: $c-light;
  color: $c-dark;
  text-align: center;
  padding: $g-m;
  border-top-left-radius: $r;
  border-top-right-radius: $r;
  box-shadow: $s-button;
  animation: innerIn $d-l $e-o;
  @include no-select;
}

.text,
.desc {
  font-size: $h4;
}

.text {
  font-weight: $b;
  margin-bottom: $g-xxs;
}

.desc {
  margin-bottom: $g-m;
}

.actions {
  display: flex;
  justify-content: center;

  .button,
  .hide {
    padding: $g-xs $g-m;
    box-shadow: $s-button;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: $g-xs;
    }
  }

  .hide {
    margin-left: $g-xs;
    font-weight: $b;
    border: solid 1px $c-dark;
    border-radius: $r-100;
    transition: background $de, color $de;

    &:hover {
      background: $c-dark;
      color: $c-main;
    }
  }
}

// Responsive

@media all and (display-mode: standalone) {
  .container {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
