@import "core/styles/head";

.card {
  background: url(/static/coolors.jpg);
  background-size: cover;
  border-radius: $r;
  cursor: pointer;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
