@import "core/styles/head";

.header {
  margin-top: $g-l;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $g-xxs;
  @include no-select;
}

.bg {
  display: none;
  z-index: -10;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 55%;
  background: url(/static/tile.svg);

  .bgShade {
    width: 100%;
    height: 100%;
    background: linear-gradient(35deg, $c-dark 35%, transparent);
  }
}

.changerContainer {
  height: $h2;

  .changer {
    font-size: $h2;
    font-weight: $b;
  }
}

.motto {
  margin-top: $g-s;
  font-size: $h1;
  font-weight: $b;
  background-image: linear-gradient(45deg, $c-main 0%, $c-main-sub 100%);
  background-clip: text;
  color: transparent;
}

.divider {
  width: 90px;
  height: 1px;
  background: $c-divider;
  margin: $g-m 0;
}

// Responsive

@media only screen and (min-width: 1024px) {
  .bg {
    display: unset;
  }

  .header {
    margin-top: unset;
    height: 28rem;
  }

  .divider {
    width: 120px;
  }
}
