@import "core/styles/head";

.container {
  display: inline-flex;
  height: $h-input;
  @include no-select;

  &.noTopBorder {
    .item {
      border-top-width: 0;

      &:first-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: $r;
      }

      &:last-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: $r;
      }
    }
  }
}

$border-width: 2px;

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-dark;
  color: $c-main;
  font-weight: $b;
  padding: 0 $g-l;
  border: solid $border-width $c-divider;
  border-left-width: 0;
  border-right-width: 0;
  transition: background $de, color $de, border-color $de;
  cursor: pointer;

  &:first-of-type {
    border-top-left-radius: $r-100;
    border-bottom-left-radius: $r-100;
    border-left-width: $border-width;
  }

  &:last-of-type {
    border-top-right-radius: $r-100;
    border-bottom-right-radius: $r-100;
    border-right-width: $border-width;
  }
}

.selected {
  background: $c-main;
  color: $c-dark;
  border-color: $c-main;
}
